extends admin_layout

block content 
  div(class='category__list')
    ul 
      each item in categories 
        h2=item.name 
        img(src=item.imgUrl, alt="", srcset="")
        p=item.description 