extends layout

block content
  div(class='blog')
    div(class='left_wrap')  
      div(class='blog_nav') Welcome to #{title}
      div(class='articles')
    div(class='right_wrap')  
      div(class='website_info')
